<div class="bg-card rounded-xl p-6 shadow-sm">
  <div class="flex items-center justify-between mb-6">
    <h3 class="text-lg font-semibold text-card-foreground">
      ទិដ្ឋភាពទូទៅនៃការលក់
    </h3>

    <select class="bg-secondary text-secondary-foreground px-3 py-1.5 rounded-lg text-sm">
      <option>ឆ្នាំនេះ</option>
      <option>ឆ្នាំមុន</option>
    </select>
  </div>

  <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [plotOptions]="chartOptions.plotOptions"
    [colors]="chartOptions.colors"
  >
  </apx-chart>
</div>
