<div class="p-7">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-5">
    <app-stat-card [title]="'ចំនួនផលិតផល'" [value]="overallData().total_products" [icon]="Box" [variant]="'blue'" />
    <app-stat-card [title]="'ចំនួនផលិតផលសកម្ម'" [value]="overallData().total_active_products" [icon]="Activity"
      [variant]="'green'" />
    <app-stat-card [title]="'ចំនួនផលិតផលអសកម្ម'" [value]="overallData().total_inactive_products" [icon]="StepForward"
      [variant]="'pink'" />
  </div>
  <div class="bg-transparent">
    <app-product-section title="ប្រភេទគ្រឿងទេស" [products]="products" />
    <!-- <app-product-section title="ប្រភេទបន្លែ" [products]="vegetableProducts" />
    <app-product-section title="ប្រភេទវត្ថុអនុសាវរីយ៍" [products]="souvenirProducts" /> -->
  </div>
</div>