<!-- <div class="">
<h2 class="text-[10px] font-bold"  >កែសម្រួលផលិតផល</h2>
<mat-dialog-content class="space-y-4">
  <mat-form-field appearance="outline" class="w-full">
    <mat-label>ឈ្មោះផលិតផល</mat-label>
    <input matInput [(ngModel)]="editName" placeholder="បញ្ចូលឈ្មោះផលិតផល">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>តម្លៃ</mat-label>
    <input matInput type="number" [(ngModel)]="editPrice" placeholder="បញ្ចូលតម្លៃ">
  </mat-form-field>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>ចំនួនស្តុក</mat-label>
    <input matInput type="number" [(ngModel)]="editStock" placeholder="បញ្ចូលចំនួនស្តុក">
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end" class="gap-2">
  <button mat-stroked-button (click)="cancel()">បោះបង់</button>
  <button mat-flat-button color="primary" (click)="save()">រក្សាទុក</button>
</mat-dialog-actions>
</div> -->

