<header class="header bg-gray-100 p-4 border-b border-gray-200">
  <div class="header-container flex justify-between items-center">

    <!-- Title -->
    <div class="header-title">
      <h1 class="text-lg font-bold">{{ title }}</h1>
      <p class="text-sm text-gray-600">{{ subtitle }}</p>
    </div>

    <!-- Actions -->
    <div class="header-actions flex items-center space-x-4">

      <!-- Search -->
      <div class="search-box flex items-center  px-5 bg-gray-300 py-2 rounded-2xl">
        <lucide-angular [img]="Search" class="w-5 h-5 text-gray-400"></lucide-angular>
        <input type="text" placeholder="ស្វែងរក..." class="ml-2  outline-none text-sm"/>
      </div>

      <!-- Date -->
      <div class="date-box flex bg-gray-300 rounded-2xl items-center py-2 px-3 text-sm text-gray-700">
        <lucide-angular [img]="Calendar" class="w-5 h-5"></lucide-angular>
        <span>{{ date }}</span>
      </div>

      <!-- Notifications -->
      <button class="notification-btn relative p-2 bg-gray-300 rounded-xl cursor-pointer  ">
        <lucide-angular [img]="Bell" class="w-5 h-5"></lucide-angular>
        <span class="badge absolute -top-2 -right-1 bg-red-500 text-white text-xs rounded-full px-1 flex items-center justify-center">
           {{notificationCount}}
        </span>
      </button>

    </div>
  </div>
</header>
