<header class="header bg-gray-100 p-4 text-black border-b border-gray-200">
  <div class="header-container flex justify-between items-center">

    <!-- Title -->
    <div class="header-title">
      <h1 class="text-lg font-bold">{{ title }}</h1>
      <p class="text-sm text-gray-600">{{ subtitle }}</p>
    </div>

    <!-- Actions -->
    <div class="header-actions flex items-center space-x-4">

      <!-- Search
      <div class="relative">
        <lucide-angular [img]="Search" class="absolute left-2 top-1/2 -translate-y-1/2 w-4 h-4 text-muted-foreground"></lucide-angular>
        <input type="text" placeholder="ស្វែងរក..." class="bg-gray-200  text-black pl-10 pr-4 py-2 rounded-xl text-sm w-64 focus:outline-2 focus:outline-blue-700"/>
      </div> -->

      <!-- Date -->
      <div class="date-box flex bg-gray-300 rounded-2xl items-center py-2 px-3 text-sm text-gray-700">
        <lucide-angular [img]="Calendar" class="w-5 h-5"></lucide-angular>
        <span>{{ date }}</span>
      </div>

    
     <!-- Notifications -->
<app-notifications
  (unreadChange)="updateCount($event)"
></app-notifications>


    </div>
  </div>
</header>
