<div class="space-y-6 m-6">

  <!-- Page Title -->
  <div>
    <h1 class="text-2xl font-bold text-black">ការកំណត់</h1>
    <p class="text-gray-500 text-sm mt-1">
      គ្រប់គ្រងព័ត៌មានផ្ទាល់ខ្លួន និងគណនីរបស់អ្នក
    </p>
  </div>

  <!-- Profile Card -->
  <div class="bg-card border border-gray-300 rounded-xl  shadow-lg">
    <div class="border-b border-gray-300 text-black p-4 flex items-center gap-2 font-semibold">
      <lucide-angular [img]="User" class="w-5 h-5 text-primary" />
      ព័ត៌មានរបស់អ្នក
    </div>

    <div class="p-6 flex flex-col lg:flex-row gap-8">

      <!-- Profile Image -->
      <div class="flex flex-col items-center gap-4 w-48">
        <div class="relative">
          <img
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?w=200"
            class="w-36 h-36 rounded-full object-cover ring-4 ring-primary/20"
          />
          <button
            class="absolute cursor-pointer bottom-1 right-1 w-10 h-10 bg-primary rounded-full flex items-center justify-center"
          >
            <lucide-angular [img]="Camera" class="w-5 h-5 text-white" />
          </button>
        </div>
        <button class="border border-gray-300  text-gray-500 bg-gray-100 cursor-pointer rounded-xl px-4 py-2 text-sm">ផ្លាស់ប្ដូររូបភាព</button>
        <p class="text-xs text-gray-400">JPG, PNG អតិបរមា 5MB</p>
      </div>

      <!-- Profile Form -->
      <div class="flex-1 space-y-4">

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
          <div class="flex flex-col w-full justify-start ">
            <label for="" class="text-gray-500 pb-2">
              
              នាមត្រកូល</label>
          <input class="input bg-gray-200 w-full rounded-xl text-black" [(ngModel)]="profileData.firstName" placeholder="នាមត្រកូល" />
          </div>
          <div class="flex flex-col justify-start">
             <label for="" class="text-gray-500 pb-2" >នាមខ្លួន</label>
          <input class="input bg-gray-200 w-full rounded-xl text-black" [(ngModel)]="profileData.lastName" placeholder="នាមខ្លួន" />
        </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
           <div class="flex flex-col justify-start">
             <label for="" class="text-gray-500 flex gap-2 pb-2" >
               <lucide-angular [img]="Calendar" class="text-gray-500 w-5"  ></lucide-angular>
              ថ្ងៃខែឆ្នាំកំណើត</label>
          <input class="input rounded-xl w-full bg-gray-200 text-black" [(ngModel)]="profileData.dateOfBirth" placeholder="ថ្ងៃខែឆ្នាំកំណើត" />
          </div>
         <div class="flex flex-col justify-start">
             <label for="" class="text-gray-500 flex gap-2 pb-2" >
              <lucide-angular [img]="Phone" class="text-gray-500 w-5"  ></lucide-angular>
              លេខទូរសព្ទ័</label>
          <input class="input rounded-xl w-full bg-gray-200 text-black " [(ngModel)]="profileData.phone" placeholder="លេខទូរសព្ទ" />
         </div>
        </div>
         <div class="flex flex-col justify-start">
             <label for="" class="text-gray-500 flex gap-2 pb-2" >
               <lucide-angular [img]="MapPin" class="text-gray-500 w-5"  ></lucide-angular>
              ទីកន្លែងកំណើត</label>
        <input class="input rounded-xl w-full bg-gray-200 text-black" [(ngModel)]="profileData.address" placeholder="ទីកន្លែងកំណើត" />
         </div>
        <div class="flex justify-end">
          <button class="btn border-0 rounded-xl bg-blue-700 flex gap-2" (click)="saveProfile()">
            <lucide-angular [img]="User" class="w-4 h-4" />
            រក្សាទុក
          </button>
        </div>

      </div>
    </div>
  </div>

  <!-- Account & Preferences -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">

    <!-- Account Security -->
    <div class="bg-card border pb-6 border-gray-300 rounded-xl shadow-lg  space-y-4">
      <div class="border-b border-gray-300 text-black p-4 flex items-center gap-2 font-semibold">
        <lucide-angular [img]="Lock" class="w-5 h-5 text-primary" />
        គណនី និងសុវត្ថិភាព
      </div>
     <div class="px-6 flex flex-col gap-5">
      <div class="flex flex-col gap-2">
      <label for="" class="flex gap-2 text-gray-500" >
         <lucide-angular [img]="Mail" class=" w-5"  ></lucide-angular>
          អ៊ីមែល
      </label>
      <input ut class="input w-full rounded-xl bg-gray-200 text-black" [(ngModel)]="accountData.email" placeholder="អ៊ីមែល" />
       </div>
         
       <div class="flex flex-col gap-2">
      <label for="" class="flex gap-2 text-gray-500" >
         <lucide-angular [img]="Lock" class=" w-5"  ></lucide-angular>
         ពាក្យសម្ងាត់បច្ចុប្បន្ន
      </label>
      <div class="relative rounded-xl w-full">
        <input
          class="input rounded-xl pr-10 w-full bg-gray-200 text-black"
          [type]="showOldPassword ? 'text' : 'password'"
          [(ngModel)]="accountData.oldPassword"
          placeholder="••••••••••••"
        />
        <button
          class="absolute cursor-pointer text-gray-500 right-3 top-1/2 -translate-y-1/2"
          (click)="showOldPassword = !showOldPassword"
        >
          <lucide-angular [img]="Eye" *ngIf="!showOldPassword" />
          <lucide-angular [img]="EyeOff" *ngIf="showOldPassword" />
        </button>
      </div>
      </div>
        
      <div class="flex flex-col gap-2">
      <label for="" class="flex gap-2 text-gray-500" >
         <lucide-angular [img]="Lock" class=" w-5"  ></lucide-angular>
          ពាក្យសម្ងាត់ថ្មី
      </label>
      <div class="relative">
        <input
          class="input  w-full rounded-xl pr-10 bg-gray-200 text-black"
          [type]="showNewPassword ? 'text' : 'password'"
          [(ngModel)]="accountData.newPassword"
          placeholder="••••••••••••"
        />
        <button
          class="absolute text-gray-500 cursor-pointer right-3 top-1/2 -translate-y-1/2"
          (click)="showNewPassword = !showNewPassword"
        >
          <lucide-angular [img]="Eye" *ngIf="!showNewPassword" />
          <lucide-angular [img]="EyeOff" *ngIf="showNewPassword" />
        </button>
      </div>
      </div>
<div class="flex justify-between rounded-2xl p-3 bg-gray-100 items-center">
  <div class="flex gap-4">
  <div class="inline-flex w-[40px] h-[40px] flex justify-center items-center justify-center text-blue-700 shrink-0 rounded-full border border-blue-300 bg-blue-100  dark:border-pink-300/10 dark:bg-pink-400/10">
     <lucide-angular class="w-5" [img]="Shield" ></lucide-angular>
     </div>
     <div>
        <h4 class="text-black">ការផ្ទៀងផ្ទាត់ពីរជំហាន</h4>
        <p class="text-gray-400 text-[13px]">បន្ថែមសុវត្ថិភាពទៅគណនីរបស់អ្នក</p>
     </div>
     </div>
<label class="switch">
    <input checked="" [(ngModel)]="preferences.twoFactorAuth" type="checkbox">
    <div class="slider">
        <div class="circle">
            <svg class="cross" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 365.696 365.696" y="0" x="0" height="6" width="6" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path data-original="#000000" fill="currentColor" d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"></path>
                </g>
            </svg>
            <svg class="checkmark" xml:space="preserve" style="enable-background:new 0 0 512 512" viewBox="0 0 24 24" y="0" x="0" height="10" width="10" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g>
                    <path class="" data-original="#000000" fill="currentColor" d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"></path>
                </g>
            </svg>
        </div>
    </div>
</label>
   </div>
  
      <div class="flex justify-end">
        <button class="btn rounded-xl bg-blue-700 border-0 flex gap-2" (click)="saveAccount()">
          <lucide-angular [img]="Save" class="w-4 h-4" />
          រក្សាទុក
        </button>
      </div>
      </div>
    </div>

    <!-- Preferences -->
    <div class="bg-card border border-gray-300 rounded-xl shadow-lg ">
      <h3 class="font-semibold border-b px-5 py-4 border-gray-300 flex text-black gap-2">
        <lucide-angular [img]="Globe" class="w-5 h-5 text-primary" />
        ចំណូលចិត្ត
      </h3>
       <div class="p-6">
      <!-- <select class="w-full text-black rounded-2xl bg-gray-200 select" [(ngModel)]="preferences.language">
        <option value="km">🇰🇭 ភាសាខ្មែរ</option>
        <option value="en">🇺🇸 English</option>
        <option value="zh">🇨🇳 中文</option>
      </select> -->

      <label class="text-gray-400  flex items-center gap-2">
  <!-- Icon changes by theme -->
  <lucide-angular
    *ngIf="preferences.theme === 'light'"
    [img]="Sun"
    class="w-4 h-4"
  ></lucide-angular>

  <lucide-angular
    *ngIf="preferences.theme === 'dark'"
    [img]="Moon"
    class="w-4 h-4"
  ></lucide-angular>

  រូបរាង
</label>

      <div class="grid grid-cols-2 gap-3">
        <button
          class="p-3 border rounded-2xl cursor-pointer bg-gray-200 text-black  flex justify-center gap-2"
           [ngClass]="{
           'text-white border-primary bg-primary/80 ': preferences.theme === 'light',
              'bg-gray-200 text-black': preferences.theme !== 'light'
           }"
          (click)="setTheme('light')"
        >
          <lucide-angular [img]="Sun" /> ភ្លឺ
        </button>

        <button
          class="p-3 rounded-2xl border bg-gray-200 text-black  cursor-pointer flex justify-center gap-2"
          [ngClass]="{
           'text-white border-black bg-black/80 ': preferences.theme === 'dark',
              'bg-gray-200 text-black': preferences.theme !== 'dark'
           }"
          (click)="setTheme('dark')"
        >
          <lucide-angular [img]="Moon" /> ងងឹត
        </button>
      </div>

      <div class="flex mt-4 justify-end">
        <button class="btn bg-blue-700 rounded-xl border-0 flex gap-2" (click)="savePreferences()">
          <lucide-angular [img]="Save" class="w-4 h-4" />
          រក្សាទុក
        </button>
      </div>
      </div>
    </div>

  </div>
</div>
