<div class="p-6">

  <!-- Stats Cards -->
  <div class="grid grid-cols-1 md:grid-cols-2 pb-10 lg:grid-cols-4 gap-4">
   
   <app-stat-card *ngFor="let card of statCards"
    [title]="card.title"
    [value]="card.value"
    [change]="card.change"
    [changeType]="card.changeType"
    [icon]="card.icon"
    [variant]="card.variant">
  </app-stat-card>

      
  </div>

  <!-- Table Card -->
  <div class="bg-card border-gray-300 rounded-2xl border shadow-sm overflow-hidden">

    <!-- Header -->
    <div class="p-5 border-b  flex flex-col sm:flex-row justify-between gap-4">
      <h2 class="text-lg text-black font-bold">តារាងបង្ហាញពីផលិតផលអស់ស្តុក</h2>

      <div class="flex gap-3 ">
         <div class="relative">
        <lucide-angular [img]="Search" class="absolute left-2 top-1/2 text-black -translate-y-1/2 w-4 h-4 "></lucide-angular>
        <input type="text" placeholder="ស្វែងរក..." class="bg-gray-200  text-black pl-10 pr-4 py-2 rounded-xl text-sm w-64 focus:outline-2 focus:outline-blue-700"/>
      </div> 

        <button class="h-9 px-4 rounded-2xl cursor-pointer bg-primary text-white flex items-center gap-2">
          <lucide-icon [img]="icons.Plus" class="w-4 h-4"></lucide-icon>
          បន្ថែមថ្មី
        </button>
      </div>
    </div>

    <!-- Table -->
    <div class="overflow-x-auto ">
      <table class="w-full text-sm">
        <thead class="bg-gray-200/30  text-black border-y border-gray-400/50">
          <tr>
            <th class="p-4 text-center">លេខសម្គាល់</th>
            <th class="p-4 text-center">រូបភាព</th>
            <th class="p-4 text-center">ប្រភេទផលិតផល</th>
            <th class="p-4 text-center">ស្តុកផលិតផល</th>
            <th class="p-4 text-center">បច្ចុប្បន្នភាព</th>
            <th class="p-4 text-center">ស្ថានភាព</th>
            <th class="p-4 text-center">សកម្មភាព</th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let product of filteredProducts()"
            class="border-b text-gray-600 hover:bg-muted/20"
          >
            <td class="p-2 text-center font-medium">{{ product.id }}</td>

            <td class="p-2 flex justify-center items-center">
              <img
                [src]="product.image"
                class="w-12 h-12 rounded-lg object-cover border"
              />
            </td>

            <td class="p-4 text-center">{{ product.category }}</td>
            <td class="p-4 text-center">{{ product.location }}</td>
            <td class="p-4 text-center">{{ product.lastUpdated }}</td>

            <td class="p-4 text-center">
              <span class="bg-red-100 text-red-600 px-2 py-0.5 rounded text-xs">
                {{ product.status }}
              </span>
            </td>

            <td class="p-4 text-center space-x-2">
              <button class="h-7 px-2 text-xs bg-rose-50 cursor-pointer text-rose-600 rounded-2xl border">
                បន្ថែមស្តុក
              </button>
              <button class="h-7 px-3 text-xs cursor-pointer bg-emerald-50 text-emerald-600 rounded-2xl border">
                កែសម្រួល
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <!-- Pagination -->
<div class="p-4 text-black  flex items-center justify-end gap-4">

  <!-- First / Previous -->
  <div class="flex  items-center gap-2">
    <button
      class="h-8 w-8 flex items-center justify-center rounded hover:bg-muted disabled:opacity-50"
      (click)="goToFirst()"
      [disabled]="currentPage() === 1"
    >
      <lucide-angular [img]="ChevronsLeft" class="w-4 h-4"></lucide-angular>
    </button>

    <button
      class="h-8 w-8 flex items-center justify-center rounded hover:bg-muted disabled:opacity-50"
      (click)="prev()"
      [disabled]="currentPage() === 1"
    >
      <lucide-angular [img]="ChevronLeft" class="w-4 h-4"></lucide-angular>
    </button>
  </div>

  <!-- Page info -->
  <div class="flex items-center gap-3">
    <select class="select select-neutral  bg-white border "
    [value]="itemsPerPage()"
      (change)="changeItemsPerPage($any($event.target).value)"
    >
     <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
   </select>

    <span class="text-sm text-muted-foreground">
      {{ startIndex() + 1 }}–{{ endIndex() }} of {{ filtered().length }}
    </span>
  </div>

  <!-- Next / Last -->
  <div class="flex items-center gap-2">
    <button
      class="h-8 w-8 flex items-center justify-center rounded hover:bg-muted disabled:opacity-50"
      (click)="next()"
      [disabled]="currentPage() === totalPages()"
    >
      <lucide-angular [img]="ChevronRight" class="w-4 h-4"></lucide-angular>
    </button>

    <button
      class="h-8 w-8 flex items-center justify-center rounded hover:bg-muted disabled:opacity-50"
      (click)="goToLast()"
      [disabled]="currentPage() === totalPages()"
    >
      <lucide-angular  [img]="ChevronsRight" class="w-4 h-4"></lucide-angular>
    </button>
  </div>

</div>


  </div>
</div>
