<div class="space-y-6 p-7">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    <app-stat-card
      *ngFor="let stat of ADMIN_USER_STATS"
      [title]="stat.title"
      [value]="stat.value"
      [icon]="stat.icon"
      [change]="stat.change"
      [changeType]="stat.changeType"
      [variant]="stat.variant"
    ></app-stat-card>
    <!-- Table -->
  </div>

  <!-- Table  -->
  <div class="bg-white text-black shadow rounded-2xl border border-gray-300 overflow-hidden">
    <div class="p-4 border-b border-gray-300 flex justify-between items-center gap-4">
      <h2 class="text-lg font-bold">តារាងបង្ហាញអំពីអ្នកគ្រប់គ្រងប្រព័ន្ធ ( Admin Accounts )</h2>
      <div class="flex gap-2">
        <button
          type="button"
          class="gap-2 cursor-pointer flex items-center border px-3 rounded-[10px] justify-center bg-green-50 text-green-700 border-green-200 hover:bg-green-100"
        >
          <lucide-angular [img]="Plus" class="w-4 h-4" />
          បញ្ចូលឯកសារ
        </button>
        <button
          type="button"
          class="gap-2 cursor-pointer flex items-center border px-3 rounded-[10px] justify-center bg-blue-50 text-blue-700 border-blue-200 hover:bg-blue-100"
        >
          <lucide-angular [img]="FileUp"></lucide-angular>
          នាំចេញជាឯកសារ
        </button>
        <div class="relative">
          <lucide-angular
            [img]="Search"
            class="absolute left-2 top-1/2 -translate-y-1/2 w-4 h-4 text-muted-foreground"
          ></lucide-angular>
          <input
            type="text"
            class="bg-gray-200 text-black pl-10 pr-4 py-2 rounded-xl text-sm w-64 focus:outline-2 focus:outline-blue-700"
            placeholder="ស្វែងរក..."
            (keyup)="onSearch($event)"
          />
        </div>
        <button
          class="px-3 rounded-[10px] hover:bg-emerald-500 cursor-pointer py-1 bg-emerald-600 text-white"
          type="button"
          (click)="openAdd()"
        >
          + បន្ថែមថ្មី
        </button>
      </div>
    </div>
    <table class="w-full">
      <thead class="bg-muted/20 text-gray-500">
        <tr>
          <th class="p-2 text-center">ល.រ.</th>
          <th class="p-2 text-center">ឈ្មោះអ្នកប្រើប្រាស់ប្រព័ន្ធ</th>
          <th class="p-2 text-center">អ៊ីមែល</th>
          <th class="p-2 text-center">លេខទូរស័ព្ទ</th>
          <th class="p-2 text-center">ថ្ងៃបង្កើត</th>
          <th class="p-2 text-center">សកម្មភាព</th>
        </tr>
      </thead>
      <tbody *ngIf="users.length > 0">
        <tr
          *ngFor="let item of users; let i = index"
          class="border-t border-b border-gray-300 text-center"
        >
          <td class="p-2">{{ i + 1 }}</td>
          <td class="p-2">{{ item.username }}</td>
          <td class="p-2 text-muted-foreground">{{ item.email }}</td>
          <td class="p-2 text-muted-foreground">{{ item.phone }}</td>
          <td class="p-2 text-muted-foreground">{{ item.createdAt | date: 'dd/MM/yyyy' }}</td>
          <td class="p-2 text-center flex items-center gap-5 justify-center space-x-1">
            <button
              type="button"
              class="text-red-400 bg-red-50 rounded-[10px] cursor-pointer border px-3 flex items-center"
              (click)="openDelete(item.username, item._id)"
            >
              <lucide-angular [img]="Trash2" class="w-4 h-4 mr-1" />
              លុប
            </button>
            <button
              type="button"
              routerLink="{{ item._id }}"
              class="text-sky-400 px-3 rounded-[10px] bg-sky-50 border cursor-pointer flex items-center"
            >
              <lucide-angular [img]="Eye" class="w-4 h-4 mr-1"></lucide-angular>
              មើលព័ត៌មានលម្អិត
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="img flex flex-col justify-center items-center" *ngIf="users.length == 0">
      <img class="w-50 h-50 object-contain" src="assets/images/no_data.jpg" alt="" />
      <h1 class="no-data text-center">មិនមានទិន្នន័យ</h1>
    </div>
    <!-- Pagination -->
    <div class="p-4 flex items-center justify-end gap-4">
      <!-- First / Previous -->
      <div class="flex items-center gap-2">
        <button
          class="h-8 w-8 flex items-center justify-center rounded hover:bg-muted disabled:opacity-50"
          (click)="goToFirst()"
          [disabled]="currentPage() === 1"
        >
          <lucide-angular [img]="ChevronsLeft" class="w-4 h-4"></lucide-angular>
        </button>

        <button
          class="h-8 w-8 flex items-center justify-center rounded hover:bg-muted disabled:opacity-50"
          (click)="prev()"
          [disabled]="currentPage() === 1"
        >
          <lucide-angular [img]="ChevronLeft" class="w-4 h-4"></lucide-angular>
        </button>
      </div>

      <!-- Page info -->
      <div class="flex items-center gap-3">
        <select
          class="select select-neutral bg-white border"
          [value]="itemsPerPage()"
          (change)="changeItemsPerPage($any($event.target).value)"
        >
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>

        <span class="text-sm text-muted-foreground">
          {{ startIndex() + 1 }}–{{ endIndex() }} of {{ filtered().length }}
        </span>
      </div>

      <!-- Next / Last -->
      <div class="flex items-center gap-2">
        <button
          class="h-8 w-8 flex items-center justify-center rounded hover:bg-muted disabled:opacity-50"
          (click)="next()"
          [disabled]="currentPage() === totalPages()"
        >
          <lucide-angular [img]="ChevronRight" class="w-4 h-4"></lucide-angular>
        </button>

        <button
          class="h-8 w-8 flex items-center justify-center rounded hover:bg-muted disabled:opacity-50"
          (click)="goToLast()"
          [disabled]="currentPage() === totalPages()"
        >
          <lucide-angular [img]="ChevronsRight" class="w-4 h-4"></lucide-angular>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Create Admin form  -->
<app-box-dialog title="បង្កើតអ្នកគ្រប់គ្រងប្រព័ន្ធ" [open]="showAddDialog()" (close)="closeAdd()">
  <div class="max-w-5xl animate-in fade-in slide-in-from-bottom-4 duration-1000">
    <div class="grid grid-cols-1 text-gray-700 lg:grid-cols-[1fr,300px] gap-8">
      <div class="w-full">
        <form class="p-2 space-y-3" [formGroup]="form">
          <div class="grid w-full grid-cols-1 md:grid-cols-2 gap-6">
            <div class="space-y-2.5">
              <label
                class="text-xs font-bold uppercase tracking-wider text-muted-foreground flex items-center gap-2"
              >
                <lucide-angular [img]="User" class="h-3 w-3" /> ឈ្មោះអ្នកប្រើប្រាស់ (Username)
              </label>
              <input
                type="text"
                placeholder="ឈ្មោះអ្នកប្រើប្រាស់"
                class="input bg-gray-300 outline-gray-400 w-full"
                formControlName="username"
              />
            </div>
            <div class="space-y-2.5 w-full">
              <label
                class="text-xs font-bold uppercase tracking-wider text-muted-foreground flex items-center gap-2"
              >
                <lucide-angular [img]="Mail" class="h-3 w-3" /> អ៊ីមែល (Email)
              </label>
              <input
                placeholder="Email"
                class="input bg-gray-300 outline-gray-400 w-full"
                formControlName="email"
              />
            </div>
          </div>
          <div class="grid w-full grid-cols-1 md:grid-cols-2 gap-6">
            <div class="space-y-2.5">
              <label
                class="text-xs font-bold uppercase tracking-wider text-muted-foreground flex items-center gap-2"
              >
                <lucide-angular [img]="Phone" class="h-3 w-3" /> លេខទូរស័ព្ទ (Phone)
              </label>
              <input
                type="text"
                placeholder="លេខទូរស័ព្ទ"
                class="input bg-gray-300 outline-gray-400 w-full"
                formControlName="phone"
              />
            </div>
            <div class="space-y-2.5">
              <label
                class="text-xs font-bold uppercase tracking-wider text-muted-foreground flex items-center gap-2"
              >
                <lucide-angular [img]="KeyRound" class="h-3 w-3" /> លេខសម្ងាត់ (Password)
              </label>
              <input
                type="password"
                placeholder="លេខសម្ងាត់"
                class="input bg-gray-300 outline-gray-400 w-full"
                formControlName="password"
              />
            </div>
          </div>
          <div class="space-y-2.5 w-full">
            <Label
              class="text-xs font-bold uppercase tracking-wider text-muted-foreground flex items-center gap-2"
            >
              <lucide-angular [img]="Package" class="h-3 w-3" /> រូបភាពអ្នកប្រើប្រាស់ប្រព័ន្ធ (User
              Profile)
            </Label>
            <app-drop-zone class="w-full" (filesAdded)="handleFiles($event)"></app-drop-zone>
          </div>
          <div class="flex gap-2 float-end mt-5">
            <button
              class="px-3 cursor-pointer text-white flex justify-center items-center h-9 bg-red-700 hover:bg-red-700/90 text-[13px] font-battambang rounded-[10px]"
              type="button"
              (click)="closeAdd()"
            >
              បោះបង់
            </button>
            <button
              type="button"
              class="px-3 cursor-pointer text-white flex justify-center items-center h-9 bg-green-700 hover:bg-green-700/90 text-[13px] font-battambang rounded-[10px]"
              (click)="onCreateUser()"
              type="button"
            >
              បង្កើត
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</app-box-dialog>
<app-delete-dialog
  [open]="showDeleteDialog"
  [name]="selectedName"
  (cancel)="handleCancel()"
  (confirm)="handleDelete()"
></app-delete-dialog>
